<main class="bg-neutral-50">
    <article class="container">
        <section class="p-4 px-lg-0 pt-lg-12 pb-5">
            <section class="d-lg-flex pb-3 pb-lg-9 mb-lg-4 border-bottom border-btn-03 mb-3">
                <div class="mb-4 mb-lg-0 me-lg-5 box-3-576">
                    <img class="img-5 mb-3" src="../assets/images/icon/index-logo.png" alt="">
                    <p class="d-lg-none fw-medium fs-6 text-text-5 mb-3">Craftio 是專為設計創作者打造的平台，提供各種創意相關課程。</p>
                    <p class="d-none d-lg-block fw-medium fs-6 text-text-5 mb-3">Craftio 是專為設計創作者打造的平台，提供各種創意相關課程。您可以在創意市集上架學習後的延伸作品，未來也可以接案、開課...等，用多種方式將創意變現。</p>
                    <div class="d-flex">
                        <img class="img-7 me-3" src="../assets/images/icon/Icon/twitter.png" alt="">
                        <img class="img-7 me-3" src="../assets/images/icon/Icon/linkedin.png" alt="">
                        <img class="img-7 " src="../assets/images/icon/Icon/Group.png" alt="">
                    </div>
                </div>
    
                <div class="d-flex mb-4 w-100 mb-lg-0 ">
                    <ul class="list-group rounded-0 w-50 me-8 me-lg-5 w-100">
                        <li class="list-group-item bg-neutral-50 p-0 border-0 mb-2 text-main-800 fw-bold fs-5">關於</li>
                        <li class="list-group-item bg-neutral-50 p-0 border-0 mb-2 fw-medium fs-6 text-text-5 fs-6">關於我們</li>
                        <li class="list-group-item bg-neutral-50 p-0 border-0 mb-2 fw-medium fs-6 text-text-5 fs-6">加入Craftio</li>
                        <li class="list-group-item bg-neutral-50 p-0 border-0 mb-2 fw-medium fs-6 text-text-5 fs-6">新聞媒體中心</li>
                        <li class="list-group-item bg-neutral-50 p-0 border-0 mb-2 fw-medium fs-6 text-text-5 fs-6">使用者合約</li>
                        <li class="list-group-item bg-neutral-50 p-0 border-0 mb-2 fw-medium fs-6 text-text-5 fs-6">服務契約</li>
                        <li class="list-group-item bg-neutral-50 p-0 border-0 fw-medium fs-6 text-text-5 fs-6">隱私權政策</li>
                    </ul>
                    <ul class="list-group rounded-0 me-lg-5 w-100">
                        <li class="list-group-item bg-neutral-50 p-0 mb-2 border-0 text-main-800 fw-bold fs-5">幫助</li>
                        <li class="list-group-item bg-neutral-50 p-0 mb-2 border-0 fw-medium fs-6 text-text-5 fs-6">我要開課</li>
                        <li class="list-group-item bg-neutral-50 p-0 mb-2 border-0 fw-medium fs-6 text-text-5 fs-6">課程許願</li>
                        <li class="list-group-item bg-neutral-50 p-0 mb-2 border-0 fw-medium fs-6 text-text-5 fs-6">投資夥伴</li>
                        <li class="list-group-item bg-neutral-50 p-0 mb-2 border-0 fw-medium fs-6 text-text-5 fs-6">異業合作</li>
                        <li class="list-group-item bg-neutral-50 p-0 mb-2 border-0 fw-medium fs-6 text-text-5 fs-6">異業合作</li>
                    </ul>
                </div>
                <div class="d-none d-lg-block box-2">
                    <button type="button" class="w-100 px-13 hover-shadow d-inline bg-white fw-medium border border-btn-03 fs-6 py-2 text-neutral-950 rounded-3">
                        聯絡我們
                    </button>
                </div>
                    <button type="button"
                            class="w-100 d-lg-none px-13 hover-shadow d-inline bg-white fw-medium border border-btn-03 fs-6 py-2 text-neutral-950 rounded-3">
                        聯絡我們
                    </button>
            </section>

            <p class="mb-0 text-text-5 fw-medium fs-6 text-center">Copyright © 2024 uiux44team</p>
        </section>
    </article>
</main>