.bg-fav-1-op-15{
    background-color: rgb(0, 0, 0 ,.15) !important
}

.opac-77{
  opacity: 77%;
}

.opac-0{
    opacity: 0 ;
}

.blue-icon{
  filter: invert(44%) sepia(12%) saturate(1173%) hue-rotate(177deg) brightness(99%) contrast(85%);
}
.warning-icon{
  filter: invert(53%) sepia(19%) saturate(4225%) hue-rotate(4deg) brightness(105%) contrast(100%);
}
.sec-icon{
  filter: invert(58%) sepia(97%) saturate(469%) hue-rotate(347deg) brightness(98%) contrast(111%);
}