.container{
    max-width: 1224px !important;
}

.box-1{
    max-width: 704px;
    width: 100%;
}
.box-2{
    max-width: 220px;
    width: 100%;
}
.w-20{
    width:calc(20% - 18px) !important;
}
.w-33{
    width: calc(33.333%) !important;
}
@media (max-width:576px) {
    .container{
    padding: 0 16px;
}
}  
@media (min-width:576px) {
      .box-3-576{
    max-width: 392px;
    width: 100%;
}
    .box-3-576{
        max-width: 521px;
        width: 100%;
    }
    .box-4{
    height: 48px;
}
} 