.container{
    max-width: 1224px !important;
}

.box-1{
    max-width: 704px;
    width: 100%;
}
.box-2{
    max-width: 220px;
    width: 100%;
}
.box-3{
    max-width: 830px !important;
    width: 100%;
}

.w-20{
    width:calc(20% - 18px) !important;
}
.w-33{
    width: calc(33.333%) !important;
}
.w-50-8{
    width: calc(50% - 8px);
}

.w-30-de{
    width: 96px !important;
}

.w-33-40{
    width: calc(33.33% - 13px);
}
.w-25-48{
    width: calc(25% - 12px);
}
@media (max-width:576px) {
    .container{
    padding: 0 16px;
}
}  
@media (min-width:576px) {
      .box-3-576{
    max-width: 392px;
    width: 100%;
}
    .box-3-576{
        max-width: 521px;
        width: 100%;
    }
    .box-4{
    height: 48px;
}
    .box-5{
        max-width: 640px;
        width: 100%;
        height: 360px;
    }
    .w-50-992{
        width: 50% !important;
    }
    .box-6-992{
        max-width: 760px;
        width: 100%;
    }
} 