<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>Learning-線上課程網站 探索課程</title>
  </head>
  <body>
    <div class="position-sticky sticky-top">
      <%- include('./layout/nav'); -%>
    </div>
      <!-- phone -->
    <main class="swiper mySwiper-banner d-lg-none">
      <div class="swiper-wrapper">
        <!-- 1 -->
        <div class="swiper-slide swiper-h-none bgi-1">
          <div class="container pt-14 pb-15">
            <div class=" rounded-4 bg-white opac-77 py-9 px-4 mb-9">
              <p class="fw-bold fs-4 text-main-900 mb-3">毛線鉤織必修課</p>
              <p class="text-text-5 fs-6 fw-medium mb-3">
                這門課程為初學者提供了全面的編織入門知識，涵蓋基礎針法、選擇和使用工具。</p>
              <div class="d-flex align-items-center mb-3">
                <img class="img-8" src="../assets/images/icon/Photo.png" alt="">
                <div>
                  <p class="fs-15 fw-semibold text-corn-500 mb-0">毛線妖怪</p>
                  <p class="fs-14 fw-medium text-neutral-66 mb-0">頂尖國際編織工藝認證指導師
                  </p>
                </div>
              </div>
              <button type="button"
                      class="btn hover-shadow rounded-3 text-white bg-sec-500 fw-medium fs-6 py-1 px-3 ">查看課程</button>
            </div>
            <div class="d-flex justify-content-end ">
              <img class="img-9" src="../assets/images/banner-sm.png" alt="">
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="swiper-slide swiper-h-none bgi-2">
          <div class="container pt-14 pb-15">
            <div class=" rounded-4 bg-white opac-77 py-9 px-4 mb-9">
              <p class="fw-bold fs-4 text-main-900 mb-3">鉤織大師班</p>
              <p class="text-text-5 fs-6 fw-medium mb-3">
                這門課程為初學者提供了全面的編織入門知識，涵蓋基礎針法、選擇和使用工具。</p>
              <div class="d-flex align-items-center mb-3">
                <img class="img-8" src="../assets/images/icon/Photo.png" alt="">
                <div>
                  <p class="fs-15 fw-semibold text-corn-500 mb-0">毛線妖怪</p>
                  <p class="fs-14 fw-medium text-neutral-66 mb-0">頂尖國際編織工藝認證指導師
                  </p>
                </div>
              </div>
              <button type="button"
                      class="btn hover-shadow rounded-3 text-white bg-sec-500 fw-medium fs-6 py-1 px-3 ">查看課程</button>
            </div>
            <div class="d-flex justify-content-end ">
              <img class="img-9" src="../assets/images/course-6.png" alt="">
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="swiper-slide swiper-h-none bgi-3">
          <div class="container pt-14 pb-15">
            <div class=" rounded-4 bg-white opac-77 py-9 px-4 mb-9">
              <p class="fw-bold fs-4 text-main-900 mb-3">縫紉中級證照課</p>
              <p class="text-text-5 fs-6 fw-medium mb-3">
                這門課程為初學者提供了全面的編織入門知識，涵蓋基礎針法、選擇和使用工具。</p>
              <div class="d-flex align-items-center mb-3">
                <img class="img-8" src="../assets/images/icon/Photo.png" alt="">
                <div>
                  <p class="fs-15 fw-semibold text-corn-500 mb-0">毛線妖怪</p>
                  <p class="fs-14 fw-medium text-neutral-66 mb-0">頂尖國際編織工藝認證指導師
                  </p>
                </div>
              </div>
              <button type="button"
                      class="btn hover-shadow rounded-3 text-white bg-sec-500 fw-medium fs-6 py-1 px-3 ">查看課程</button>
            </div>
            <div class="d-flex justify-content-end">
              <img class="img-9" src="../assets/images/course-1.png" alt="">
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="swiper-slide swiper-h-none bgi-4">
          <div class="container pt-14 pb-15">
            <div class=" rounded-4 bg-white opac-77 py-9 px-4 mb-9">
              <p class="fw-bold fs-4 text-main-900 mb-3">飾品擺拍選修課</p>
              <p class="text-text-5 fs-6 fw-medium mb-3">
                這門課程為初學者提供了全面的編織入門知識，涵蓋基礎針法、選擇和使用工具。</p>
              <div class="d-flex align-items-center mb-3">
                <img class="img-8" src="../assets/images/icon/Photo.png" alt="">
                <div>
                  <p class="fs-15 fw-semibold text-corn-500 mb-0">毛線妖怪</p>
                  <p class="fs-14 fw-medium text-neutral-66 mb-0">頂尖國際編織工藝認證指導師
                  </p>
                </div>
              </div>
              <button type="button"
                      class="btn hover-shadow rounded-3 text-white bg-sec-500 fw-medium fs-6 py-1 px-3 ">查看課程</button>
            </div>
            <div class="d-flex justify-content-end">
              <img class="img-9" src="../assets/images/course-4.png" alt="">
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="swiper-slide swiper-h-none bgi-5">
          <div class="container pt-14 pb-15">
            <div class=" rounded-4 bg-white opac-77 py-9 px-4 mb-9">
              <p class="fw-bold fs-4 text-main-900 mb-3 fs-over">DIY工坊：打造屬於你的手工藝品</p>
              <p class="text-text-5 fs-6 fw-medium mb-3">
                這門課程為初學者提供了全面的編織入門知識，涵蓋基礎針法、選擇和使用工具。</p>
              <div class="d-flex align-items-center mb-3">
                <img class="img-8" src="../assets/images/icon/Photo.png" alt="">
                <div>
                  <p class="fs-15 fw-semibold text-corn-500 mb-0">毛線妖怪</p>
                  <p class="fs-14 fw-medium text-neutral-66 mb-0">頂尖國際編織工藝認證指導師
                  </p>
                </div>
              </div>
              <button type="button"
                      class="btn hover-shadow rounded-3 text-white bg-sec-500 fw-medium fs-6 py-1 px-3 ">查看課程</button>
            </div>
            <div class="d-flex justify-content-end">
              <img class="img-9" src="../assets/images/course-8.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class=" swiper-pagination pb-4 d-lg-none"></div>
    </main>
    <!-- pc -->
    <main class="swiper mySwiper-banner d-none d-lg-block">
      <div class="swiper-wrapper">
        <!-- 1 -->
        <div class="swiper-slide swiper-h-none bgi-1">
          <div class="container pt-14 pt-lg-16 d-lg-flex justify-content-between">
            <div
                class=" rounded-4 bg-white opac-77 py-9 px-4 py-lg-17 px-lg-18  mb-9 mb-lg-0 box-3-576">
              <p class="fw-bold fs-4 fs-lg-2 text-main-900 mb-3">毛線鉤織必修課</p>
              <p class="text-text-5 fs-6 fs-lg-5 fw-medium mb-3">
                這門課程為初學者提供了全面的編織入門知識，涵蓋基礎針法、選擇和使用工具。</p>
              <div class="d-flex align-items-center mb-3">
                <img class="img-8 rounded-pill" src="../assets/images/icon/teacher/teacher-1.png" alt="">
                <div>
                  <p class="fs-15 fw-semibold text-corn-500 mb-0">毛線妖怪</p>
                  <p class="fs-14 fw-medium text-neutral-66 mb-0">頂尖國際編織工藝認證指導師
                  </p>
                </div>
              </div>
              <button type="button"
                      class="btn hover-shadow rounded-3 text-white bg-sec-500 fw-medium fs-6 py-1 px-3 px-lg-4 py-lg-2">查看課程</button>
            </div>
            <div class="d-flex justify-content-center align-items-end">
              <img class="img-10" src="../assets/images/banner-sm.png" alt="">
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="swiper-slide swiper-h-none bgi-2">
          <div class="container pt-14 pt-lg-16 d-lg-flex justify-content-between">
            <div
                class=" rounded-4 bg-white opac-77 py-9 px-4 py-lg-17 px-lg-18  mb-9 mb-lg-0 box-3-576">
              <p class="fw-bold fs-4 fs-lg-2 text-main-900 mb-3">鉤織大師班</p>
              <p class="text-text-5 fs-6 fs-lg-5 fw-medium mb-3">
                這門課程為初學者提供了全面的編織入門知識，涵蓋基礎針法、選擇和使用工具。</p>
              <div class="d-flex align-items-center mb-3">
                <img class="img-8" src="../assets/images/icon/Photo.png" alt="">
                <div>
                  <p class="fs-15 fw-semibold text-corn-500 mb-0">毛線妖怪</p>
                  <p class="fs-14 fw-medium text-neutral-66 mb-0">頂尖國際編織工藝認證指導師
                  </p>
                </div>
              </div>
              <button type="button"
                      class="btn hover-shadow rounded-3 text-white bg-sec-500 fw-medium fs-6 py-1 px-3 px-lg-4 py-lg-2">查看課程</button>
            </div>
            <div class="d-flex justify-content-center align-items-end">
              <img class="img-10" src="../assets/images/course-6.png" alt="">
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="swiper-slide swiper-h-none bgi-3">
          <div class="container pt-14 pt-lg-16 d-lg-flex justify-content-between">
            <div
                class=" rounded-4 bg-white opac-77 py-9 px-4 py-lg-17 px-lg-18  mb-9 mb-lg-0 box-3-576">
              <p class="fw-bold fs-4 fs-lg-2 text-main-900 mb-3">縫紉中級證照課</p>
              <p class="text-text-5 fs-6 fs-lg-5 fw-medium mb-3">
                這門課程為初學者提供了全面的編織入門知識，涵蓋基礎針法、選擇和使用工具。</p>
              <div class="d-flex align-items-center mb-3">
                <img class="img-8" src="../assets/images/icon/Photo.png" alt="">
                <div>
                  <p class="fs-15 fw-semibold text-corn-500 mb-0">毛線妖怪</p>
                  <p class="fs-14 fw-medium text-neutral-66 mb-0">頂尖國際編織工藝認證指導師
                  </p>
                </div>
              </div>
              <button type="button"
                      class="btn hover-shadow rounded-3 text-white bg-sec-500 fw-medium fs-6 py-1 px-3 px-lg-4 py-lg-2">查看課程</button>
            </div>
            <div class="d-flex justify-content-center align-items-end">
              <img class="img-10" src="../assets/images/course-1.png" alt="">
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="swiper-slide swiper-h-none bgi-4">
          <div class="container pt-14 pt-lg-16 d-lg-flex justify-content-between">
            <div
                class=" rounded-4 bg-white opac-77 py-9 px-4 py-lg-17 px-lg-18  mb-9 mb-lg-0 box-3-576">
              <p class="fw-bold fs-4 fs-lg-2 text-main-900 mb-3">飾品擺拍選修課</p>
              <p class="text-text-5 fs-6 fs-lg-5 fw-medium mb-3">
                這門課程為初學者提供了全面的編織入門知識，涵蓋基礎針法、選擇和使用工具。</p>
              <div class="d-flex align-items-center mb-3">
                <img class="img-8" src="../assets/images/icon/Photo.png" alt="">
                <div>
                  <p class="fs-15 fw-semibold text-corn-500 mb-0">毛線妖怪</p>
                  <p class="fs-14 fw-medium text-neutral-66 mb-0">頂尖國際編織工藝認證指導師
                  </p>
                </div>
              </div>
              <button type="button"
                      class="btn hover-shadow rounded-3 text-white bg-sec-500 fw-medium fs-6 py-1 px-3 px-lg-4 py-lg-2">查看課程</button>
            </div>
            <div class="d-flex justify-content-center align-items-end">
              <img class="img-10" src="../assets/images/course-4.png" alt="">
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="swiper-slide swiper-h-none bgi-5">
          <div class="container pt-14 pt-lg-16 d-lg-flex justify-content-between">
            <div
                class=" rounded-4 bg-white opac-77 py-9 px-4 py-lg-17 px-lg-18  mb-9 mb-lg-0 box-3-576">
              <p class="fw-bold fs-4 fs-lg-2 text-main-900 mb-3 fs-over">DIY工坊：打造屬於你的手工藝品</p>
              <p class="text-text-5 fs-6 fs-lg-5 fw-medium mb-3">
                這門課程為初學者提供了全面的編織入門知識，涵蓋基礎針法、選擇和使用工具。</p>
              <div class="d-flex align-items-center mb-3">
                <img class="img-8" src="../assets/images/icon/Photo.png" alt="">
                <div>
                  <p class="fs-15 fw-semibold text-corn-500 mb-0">毛線妖怪</p>
                  <p class="fs-14 fw-medium text-neutral-66 mb-0">頂尖國際編織工藝認證指導師
                  </p>
                </div>
              </div>
              <button type="button"
                      class="btn hover-shadow rounded-3 text-white bg-sec-500 fw-medium fs-6 py-1 px-3 px-lg-4 py-lg-2">查看課程</button>
            </div>
            <div class="d-flex justify-content-center align-items-end">
              <img class="img-10" src="../assets/images/course-8.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="container position-relative">
        <div
            class=" swiper-pagination pb-4 position-absolute end-0 translate-middle--x">
        </div>
      </div>
    </main>


    <main>
      <div class="container my-9">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">課程探索</a></li>
            <li class="breadcrumb-item active" aria-current="page">全部</li>
          </ol>
        </nav>

        <h1 class="fw-bold">探索課程</h1>
        <section class="course-list d-none d-xl-block">
          <ul class="mt-3 p-0 d-flex justify-content-between flex-md-wrap list-style-none">
            <li><a href="./result.html" class="course-btn">紡織工藝</a></li>
            <li><a href="#" class="course-btn">皮革工藝</a></li>
            <li><a href="#" class="course-btn">金屬工藝</a></li>
            <li><a href="#" class="course-btn">陶藝</a></li>
            <li><a href="#" class="course-btn">縫紉服飾</a></li>
            <li><a href="#" class="course-btn">繪畫設計</a></li>
            <li><a href="#" class="course-btn">釀造調製</a></li>
            <li><a href="#" class="course-btn">玻璃工藝</a></li>
            <li><a href="#" class="course-btn">園藝</a></li>
            <li><a href="#" class="course-btn">珠寶設計</a></li>
            <li><a href="#" class="course-btn">紙藝</a></li>
            <li><a href="#" class="course-btn">木工</a></li>
          </ul>
        </section>

        <div class="mt-3 mt-lg-9 mb-4 d-flex">
          <button type="button" class="course-btn">所有課程 <i class="bi bi-chevron-down"></i></button>
          <div class="assess ms-auto hstack gap-3">
            <button type="button" class="course-btn d-none d-xl-block">評價</button>
            <button type="button" class="course-btn d-none d-xl-block">程度</button>
            <button type="button" class="course-btn d-flex align-items-center"><span>價格 </span><img src="../assets/images/icon/Icon/sort-outlined.png" alt=""></button>
          </div>
        </div>

        <!-- 課程清單 -->
        <div class="row">
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-1.png"/>
                <img class="w-100" src="../assets/images/course-sm-1.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm">熱門課程</span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">毛線鉤織必修課</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-01.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">毛線妖怪</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">毛線編織工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-2.png"/>
                <img class="w-100" src="../assets/images/course-sm-2.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm"></span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">手作飾品初級班：設計與製作</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-02.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">珠寶匠人</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">匠人珠寶工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-3.png"/>
                <img class="w-100" src="../assets/images/course-sm-3.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm"></span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">編織初探：基礎技巧與應用</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-07.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">珠寶匠人</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">匠人珠寶工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-4.png"/>
                <img class="w-100" src="../assets/images/course-sm-4.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm">熱門課程</span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">手作飾品初級班：設計與製作</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-04.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">珠寶匠人</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">匠人珠寶工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-9.png"/>
                <img class="w-100" src="../assets/images/course-9.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm">熱門課程</span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">手作飾品初級班：設計與製作</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-05.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">珠寶匠人</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">匠人珠寶工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-10.png"/>
                <img class="w-100" src="../assets/images/course-10.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm"></span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">手作飾品初級班：設計與製作</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-02.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">珠寶匠人</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">匠人珠寶工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-11.png"/>
                <img class="w-100" src="../assets/images/course-11.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm"></span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">手作飾品初級班：設計與製作</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-05.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">珠寶匠人</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">匠人珠寶工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-12.png"/>
                <img class="w-100" src="../assets/images/course-12.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm"></span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">手作飾品初級班：設計與製作</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-06.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">珠寶匠人</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">匠人珠寶工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-13.png"/>
                <img class="w-100" src="../assets/images/course-13.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm">熱門課程</span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">手作飾品初級班：設計與製作</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-07.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">珠寶匠人</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">匠人珠寶工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-6.png"/>
                <img class="w-100" src="../assets/images/course-6.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm">熱門課程</span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">手作飾品初級班：設計與製作</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-02.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">珠寶匠人</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">匠人珠寶工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-14.png"/>
                <img class="w-100" src="../assets/images/course-14.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm"></span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">手作飾品初級班：設計與製作</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-01.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">珠寶匠人</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">匠人珠寶工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-15.png"/>
                <img class="w-100" src="../assets/images/course-15.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm"></span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">手作飾品初級班：設計與製作</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-04.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">珠寶匠人</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">匠人珠寶工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-16.png"/>
                <img class="w-100" src="../assets/images/course-16.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm">熱門課程</span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">手作飾品初級班：設計與製作</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-06.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">珠寶匠人</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">匠人珠寶工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>   
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-17.png"/>
                <img class="w-100" src="../assets/images/course-17.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm"></span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">手作飾品初級班：設計與製作</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-01.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">珠寶匠人</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">匠人珠寶工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-18.png"/>
                <img class="w-100" src="../assets/images/course-18.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm"></span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">手作飾品初級班：設計與製作</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-02.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">珠寶匠人</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">匠人珠寶工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 mb-9">
            <div class="card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/course-19.png"/>
                <img class="w-100" src="../assets/images/course-19.png" alt="banner"/>
              </picture>
              <div class="card-img-overlay">
                <div class="d-flex align-items-center text-center">
                  <span class="badge fs-sm"></span>
                  <div class="icon-heart d-flex align-items-center ms-auto"><i class="bi bi-heart text-white mx-auto"></i></div>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title w-80 fs-14 fw-bold text-truncate">手作飾品初級班：設計與製作</h5>
                <div class="star text-main-500"><i class="bi bi-star-fill"></i> 4.5</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/teacher-05.png" alt="andychen" width="32" height="32" class="rounded-circle object-fit-cover">
                  </div>
                  <div class="ms-2">
                    <div>
                      <p class="fs-sm fw-semibold mb-0 text-barley-400 mb-0">珠寶匠人</p>
                      <p class="fs-xs text-neutral-400 fw-medium mb-0">匠人珠寶工坊</p>
                    </div>
                  </div>
                </div>
                <div class="price text-end">
                  <div class="fs-xs text-decoration-line-through text-btn-03">NT$4,000</div>
                  <div class="text-main-800 fw-medium">NT$2,200</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="page-area d-none d-lg-block">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center pb-8 gap-2">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        
      </div>

    </main>





    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper-banner", {
        loop: true,
        slidesPerView: 'auto',
        pagination: {
          el: ".swiper-pagination",
          dynamicBullets: true,
        },
      });
    </script>
  </body>
</html>